/* GLOBAL */

body {
	background: url("../img/bg.png")
}

/* LAYOUT */
.container {
	width: 90%;
	margin: 0 auto;
	background: teal;
}

article section {
	width: 50%;
	float: left;
}

iframe, img {
	max-width: 100%;
	width: 100%;
}

/* DESKTOP */
@media (min-width: 960px) {
	#top {
		width: 300px;
	}
}

/* TABLET */
@media (min-width: 768px) {
	section img {
		width: 80%;
	}
	section h1 {
		text-transform: uppercase;
	}
}

/* Mobile */
@media (min-width: 480px) {
	section img {
		width: 80%;
	}
	section h1 {
		text-transform: uppercase;
	}
}